{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/initialize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block css %} {% endblock %}
  </head>
  <body>
    <header class = "header"></header>
    <nav class = "navigation">
        <a class = "navigation__item navigation__item--route" href="http://localhost:8000/master_list/{{week}}/0">路線班表</a>
        <a class = "navigation__item navigation__item--driver" href="http://localhost:8000/driver_schedule/{{week}}/21">司機班表</a>
    </nav>
    <main>
  	    {% block content %}
        {% endblock %}
    </main>
    <footer class="footer"></footer>
    {% block js %} {% endblock %}
  </body>
</html>